<form class="d-flex" method="post" enctype="multipart/form-data">

    <input type="search" name="search" class="form-control me-2" width="40px">
    @Html.ActionLink("Search", "Search", "Home", new { @class = "btn btn-outline-success" })
</form>
